body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav .logo{
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-top: 12px;
    text-decoration: none;
}
.logo{
    height: 50px;
    float:left;
    padding: 10px 10px 0px 0px;
    padding-left: 100px;
}

#nav{
    width: 100%;
    margin: 0 auto;
    height: 70px;
}

.topnav{
    background-color: black;
    height: 70px;
    width: 100%;
    text-align: right;
}

.topnav ul{
    padding: 0px;
    margin: 0px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    padding-right: 100px;
}
.topnav li{
    list-style-type: none;
    padding: 0px;
    display: inline;
}
.topnav li a{
    color: white;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 15px;
    opacity: 1;
    font-weight: 200;
}
.hero-img{
    background: rgba(0, 0, 0, 0.7) url(bg.jpg);
    background-blend-mode: darken;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-text p{
    margin-top: 0px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    width: 25%;
}
.hero-text h1{
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    width: 25%;
}
.hero-text {
    margin: 0;
    padding: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-button{
    display: flex;
    flex-direction: row;
}

.hero-text button{
    padding: 8px 16px 8px 16px;
    margin-right: 16px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;

}
.secondary-button{
    background-color: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}
.primary-button{
    background-color: rgb(183, 33, 81);
    color: white;
    border: 1px solid rgb(183, 33, 81);
}
.img-2{
    height: 250px;
}
#second{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 550px;
}

.second-all{
    padding-top: 100px;
}

.img-para{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.paragraph{
    width: 400px;
}
.paragraph h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 24px;
}
.paragraph p{
    color: rgb(134, 134, 134);
    font-size: 12px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-para img{
    padding-right: 64px;
    padding-bottom: 40px;
}

.figure{
    color: white;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    justify-content: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;

}
.figure .fig{
    display: flex;
    flex-direction: row;
}
.figure .fig h1{
    font-size: 36px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
}
.description p{
    margin-top: -20px;
    width: auto;
    font-size: 12px;
    color: dimgray;
}
.img-para{
    width: 60%;
    margin: auto;
}
.fig h4{
    color: rgb(183, 33, 81);
}

.sec-3{
    width: 100%;
    height: 450px;
    background: rgba(0, 0, 0, 0.7) url(view.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10%;
}
.text h1{
    margin: 0;
    color: white;
}
.text p{
    font-size: 14px;
    color: white;
    margin: 0;
    padding-top: 24px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 40px;
}   
.numbers{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: white;
    margin: 0;
    justify-content: center;
}
.segments{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 32px;
    padding-right: 32px;
    align-items: baseline;
}
.segments h2{
    margin: 0;
    padding-right: 8px;
}
.segments p{
    font-size: 12px;
    color: rgb(183, 33, 81);
    font-weight: bold;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 16px;
    justify-content: space-around;
}
.ico{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.icons a{
        display: inline-block;
}
    object{
        pointer-events: none;
        height: 36px;
        width: auto;
}
.go{
    height: 44px;
    width: auto;
}