body,html {
    margin-left: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    height: 50px;
    float:left;
    padding: 10px 10px 0px 0px;
}

#nav{
    width: 100%;
    margin: 0 auto;
    height: 70px;
}

.topnav{
    background-color: black;
    height: 70px;
    width: 100%;
    text-align: right;
}

.topnav ul{
    padding: 0px;
    margin: 0px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.topnav li{
    list-style-type: none;
    padding: 0px;
    display: inline;
}
.topnav li a{
    color: white;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 15px;
    opacity: 0.7;
}

#menu {
    float: right;
}

.hero-img{
    background-image: url(bg.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text p{
    margin-top: 0px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}
.hero-text h1{
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
}
.hero-text {
    width: 25%;
    height: auto;
    vertical-align: middle;

}